[submodule "vendor/google-api"]
	path = vendor/google-api
	url = git://github.com/evert/google-api-php-client.git
[submodule "vendor/trails"]
	path = vendor/trails
	url = git://github.com/luniki/trails.git
[submodule "vendor/jquery-mobile"]
	path = vendor/jquery-mobile
	url = git://github.com/jquery/jquery-mobile.git
[submodule "vendor/flexi"]
	path = vendor/flexi
	url = https://github.com/luniki/flexi-templates
[submodule "vendor/password-compat"]
	path = vendor/password-compat
	url = git://github.com/ircmaxell/password_compat.git
[submodule "vendor/html5-boilerplate"]
	path = vendor/html5-boilerplate
	url = git://github.com/h5bp/html5-boilerplate.git
