[submodule "vendor/google-api"]
	path = vendor/google-api
	url = git://github.com/evert/google-api-php-client.git
[submodule "vendor/trails"]
	path = vendor/trails
	url = git://github.com/luniki/trails.git
[submodule "vendor/jquery-mobile"]
	path = vendor/jquery-mobile
	url = git://github.com/jquery/jquery-mobile.git
