RewriteEngine On
RewriteBase /~tleilax/ean-lookup

RewriteCond %{THE_REQUEST} ^GET\ .*?external-image/(?:(\d+(?:x\d+)?)/)?([^\s]+)
RewriteRule external-image/(?:(\d+(?:x\d+)?)/)?(.*?)$ image-proxy.php?size=%1&image=%2 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php?path=$0 [QSA,L]
